version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: calibre_prod_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: calibredb
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: calibre_prod_backend
    restart: always
    environment:
      - PORT=3000
      - DB_USER=admin
      - DB_HOST=db
      - DB_NAME=calibredb
      - DB_PASSWORD=mysecretpassword
      - DB_PORT=5432
      - JWT_SECRET=una_clau_molt_secreta_i_llarga_per_produccio
    ports:
      - "3000:3000"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: calibre_prod_frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  pgdata:
